{% extends 'portal5/components/portal5.html' %}

{% set title = 'disambiguate' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/~/static/assets/styles/disambiguate.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/~/client/disambiguate.js"></script>
{% endblock %}

{% block main %}
<h2>We need some help ...</h2>

<form id="mainForm" action="/~disambiguate" method="{{ info['method'] }}">
    <input type="hidden" name="referrer" required value="">
    <input type="hidden" name="dest" required value="">
    <input type="hidden" name="request_opts" required value="{{ info['id'] }}">
    {% for candidate in candidates %}
    {% set base = candidate['base'] %}
    {% set referrer = candidate['ref'] %}
    {% set dest = candidate['dest'] %}
    <div class="candidate-container container-style-{{ loop.index % 2 }}" id="url-candidate-{{ loop.index }}"
        tabindex="0" data-referrer="{{ referrer.geturl() }}" data-dest="{{ dest.geturl() }}">
        <div class="urls">
            {% for label, url in {'from': base, 'to': dest}.items() %}
            <div class="url-entry {{ label }}-url">
                <p class="inline-blocks-oneline label-container"><span class="label">{{ label }}</span class="label">
                </p>
                <p class="inline-blocks-oneline url-list">
                    <span class="url-concise">{{ url.netloc + url.path }}</span>
                    <code class="url-full hidden">{{ url.geturl() }}</code>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="actions hidden">
            <button type="submit" name="submit-button" class="button-visit" tabindex="-1">Visit</button>
        </div>
    </div>
    {% endfor %}
</form>

<p>
    <code>portal5</code> wasn't able to determin the link to the webpage you are trying to visit.
    <br>
    <strong>If you remember the previous webpage from which you are trying to navigate, or know the domain name of the
        new page, please select the corresponding link from above.</strong>
</p>

<hr>
<h3 class="color-gray-fg">What happened?</h3>
<p class="color-gray-fg">
    In order to correctly route web requests, <code>portal5</code> gathers (partial) URL information from various
    places, and derives a complete URL from them. Sometimes, the information gathered aren't enough for
    <code>portal5</code> to determine the URL. In these cases, potential locations are provided for you to choose.
</p>
{% endblock %}