{% extends 'portal5/components/portal5.html' %}

{% set title = 'portal5:preferences' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/~/static/styles/preferences.css">
{% endblock %}

{% block scripts %}
<script src="/~/scripts/responsive/preferences.js"></script>
{% endblock %}

{% block main %}

<form action="/settings" method="POST">

    {% for section_name, options in prefs.items() %}
    <h2>{{ section_name }}</h2>

    {% for option_id, details in options.items() %}
    {% set color = details.color|default('green') %}

    <div id="{{ option_id|replace('_', '-') }}" class="option-container">
        <div class="option">
            <input type="hidden" name="{{ option_id }}" value="{{ details.enabled|int }}" />
            <h5><span class="option-bullet">‣</span><label>{{ details.name|safe }}</label></h5>
            <button type="button" class="toggle-button color-{{ color if details.enabled else 'gray' }}-bg"
                data-color="{{ color }}">
                {{- 'on' if details.enabled else 'off' -}}
            </button>
        </div>
        <div class="option multi-option-confirm hidden">
            <h6 class="bold">Setting this will <mark></mark> other options: </h6>
            <button type="button" class="flush-change-cancel color-black-bg color-white-fg">cancel</button>
            <button type="button" class="flush-change-confirm color-white-bg">continue</button>
        </div>
        <div class="option-description collapsed">
            {% for line in details.desc %}
            <p>{{ line|safe }}</p>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
    {% endfor %}

    <input type="hidden" name="id" value="{{ g.p5.id }}" />

    <div class="form-footer">
        <p class="color-green-fg" id="updated">Your preferences have been updated.</p>
        <button type="submit" name="action" value="update" class="color-cyan-bg">Save preferences</button>
    </div>
    <div class="form-postscript">
        <button type="submit" name="action" value="reset" class="color-gray-bg">Reset defaults</button>
    </div>

</form>

{% endblock %}