{% extends 'components/html.html' %}

{% set title = 'portal5 init' %}

{% block styles %}
{{ super() }}
<style>
    #worker-failed,
    #worker-unavailable {
        display: none;
    }
</style>
{% endblock %}

{% block scripts %}
<script async src="/install.js"></script>
<script>
    const settings = JSON.parse('{{ worker_settings|tojson }}');
</script>
{% endblock %}

{% set use_portal3 %}
<li>
    Use <code><em>portal3</em></code>, a previous version of this tool that relies on cookies for redirection.
    <br>
    → <code><strong><a href="//portal3.{{ g.sld }}/{{ remote }}">{{ request.scheme }}://portal3.{{ g.sld }}/{{ remote }}</a></strong></code>
</li>
{% endset %}

{% block body %}
<main>
    <article>
        <h1><code>portal5</code></h1>
        <blockquote>
            <pre><code id="console"></code></pre>
        </blockquote>

        <div id="worker-failed">
            <h3>Failed to initialize Service Worker</h3>
            <p>
                <code>portal5</code> relies on a web technology called
                <strong><a href="https://developers.google.com/web/fundamentals/primers/service-workers" target="_blank">Service Worker</a></strong>
                to work, which failed to initialize. The reason, if any, is displayed above.
            </p>
            <p>You may:</p>
            <ul>
                <li>Try clearing cookies and website data for {{ server }}.</li>
                <li>Try visiting this page later.</li>
                {{ use_portal3 }}
            </ul>
        </div>

        <div id="worker-unavailable">
            <h3>Service Worker API unavailable</h3>
            <p>
                <code>portal5</code> relies on a web technology called
                <strong><a href="https://developers.google.com/web/fundamentals/primers/service-workers" target="_blank">Service Worker</a></strong>
                to work, which is not supported by your browser. <em>(Note: Firefox disables Service Workers in Private Browsing mode)</em>
            </p>
            <p>You may:</p>
            <ul>
                <li>Switch to a another browser. (URL to this page: <code><strong><a href="{{ request.url }}">{{ request.url }}</a></strong></code>)</li>
                {{ use_portal3 }}
            </ul>
        </div>

        <noscript>
            <div id="worker-noscript">
                <h3>JavaScript is not enabled</h3>
                <p><code>portal5</code> requires <strong>JavaScript</strong> to work.</p>
            </div>
            <p>You may:</p>
            <ul>
                <li>Enable JavaScript in your browser, or switch to a newer browser.</li>
                {{ use_portal3 }}
            </ul>
        </noscript>
    </article>
</main>
{% endblock %}