{% extends 'components/html.html' %}

{% set title = '...' %}

{% block styles %}
<style>
    body {
        background-color: #21252c;
        color: #d3d3d3;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    (async () => {
        if ('serviceWorker' in navigator) {
            let registration = await navigator.serviceWorker.getRegistration()
            if (registration) {
                await registration.unregister()
                window.location.reload()
            }
        }
    })()
</script>
{% endblock %}