$background: #1a1a1a;
$primary: #f348a9;
$secondary: #51b5c3;
$text: #d3d3d3;
$emphasis: #46acdb;

#p5-injection-manager {
    all: initial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 2147483647;

    font-size: 11pt;
    font-family: 'Lato', 'Noto Serif SC', 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Ubuntu', 'Open Sans', sans-serif;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;

    width: 480px;
    max-height: 100vh;
    overflow: scroll;

    @media screen and (max-width: 768px) {
        width: 100vw;
    }

    .p5-container {
        flex: 1 1 0;
        padding: 0.8em;
    }

    #p5-actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: flex-end;
        margin: .75em 0 0 0;
        padding: 0;

        li {
            &:before {
                all: unset;
            }

            display: inline-block;
            margin: 0 .5em;
            height: 1.2em;
        }
    }

    .p5-checkbox {
        display: none;

        &+label:before {
            content: '';
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 12px;
            height: 12px;
            top: 2px;
            border-radius: 3px;
        }
    }

    p,
    pre,
    ul {
        margin: .5em 0;
        line-height: 1.4em;
    }

    ul {
        list-style: none;
    }

    li {
        text-indent: -5px;
    }

    li:before {
        content: '-';
        position: relative;
        right: 5px;
    }

    pre {
        white-space: pre-line;
    }

    code {
        font-family: 'Fira Code', 'Inconsolata', 'Consolas', 'Ubuntu Mono', 'Courier New', monospace;
        letter-spacing: -0.3px;
    }

    h2 {
        display: block;
        font-size: 1.8em;
        font-weight: 900;
        margin: .3em 0;
    }

    a {
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
    }

    em {
        color: $emphasis;
    }

    strong {
        font-weight: 700;
    }
}

#p5-warn-content-modified {
    background-color: $primary;
    color: $background;

    .p5-checkbox {
        &+label:before {
            border: 1px solid $background;
        }

        &:checked+label:before {
            background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMxYTFhMWE7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTAsMFYzMkgzMlYwWk0xNS40NywyMy43NGwtMy44MywzLjgzTDIuMDcsMThsNC44NS00Ljg1LDQuNzIsNC43MkwyNS4wOCw0LjQzbDQuODUsNC44NVoiLz48L3N2Zz4=');
        }
    }
}

#p5-warn-security {
    color: $primary;
    background-color: $background;
}

#p5-console {
    color: $text;
    background-color: $background;

    .p5-console-data {
        color: $emphasis;
        font-weight: 700;
    }
}

#p5-more-info {
    color: $background;
    background-color: $secondary;
}

.p5-hidden {
    display: none !important;
}