{% extends 'portal5/components/portal5.html' %}

{% set use_portal3 %}
<li>
    {{_( 'Use' )}} <code><em>portal3</em></code>{{_( ', a previous version of this tool that relies on cookies for redirection.' )}}
    <br>
    → <code><strong><a href="//portal3.{{ g.sld }}/{{ remote }}">{{ request.scheme }}://portal3.{{ g.sld }}/{{ remote }}</a></strong></code>
</li>
{% endset %}

{% block main %}
{% block static_messages %}
{% endblock static_messages %}
<blockquote>
    <pre><code id="console"></code></pre>
</blockquote>
{% endblock main %}

{% block additional_noscript %}
{{ use_portal3 }}
{% endblock %}