{% extends 'components/html.html' %}

{% set title = title|default('portal5') %}

{% block body %}
<main>
    <article>
        <h1><code><span class="text-weight-300">portal5</span>:{{ title }}</code></h1>
        <noscript>
            <div id="worker-noscript">
                <h3><strong>{% trans %}JavaScript is not enabled{% endtrans %}</strong></h3>
                <p><code>portal5</code> {% trans %}requires <strong>JavaScript</strong> to work.{% endtrans %}</p>
            </div>
            <p>{% trans %}You may:{% endtrans %}</p>
            <ul>
                <li>{% trans %}Enable JavaScript in your browser, or switch to a newer browser.{% endtrans %}</li>
                {% block additional_noscript %}
                {% endblock %}
            </ul>
        </noscript>
        {% block main %}
        {% endblock %}
    </article>
</main>
{% endblock %}