{% extends 'components/html.html' %}

{% set title = title|default('portal5') %}

{% block body %}
<main>
    <article>
        <h1><code><span class="text-weight-300">portal5</span>:{{ title }}</code></h1>
        <noscript>
            <div id="worker-noscript">
                <h3><strong>JavaScript is not enabled</strong></h3>
                <p><code>portal5</code> requires <strong>JavaScript</strong> to work.</p>
            </div>
            <p>You may:</p>
            <ul>
                <li>Enable JavaScript in your browser, or switch to a newer browser.</li>
                {% block additional_noscript %}
                {% endblock %}
            </ul>
        </noscript>
        {% block main %}
        {% endblock %}
    </article>
</main>
{% endblock %}