{% extends 'components/html.html' %}

{% set statuscode = statuscode|default(500) %}
{% set extra = "" %}

{% if statuscode == 400 %}
{% set text = "Bad Request" %}

{% elif statuscode == 401 %}
{% set text = "Unauthorized" %}

{% elif statuscode == 403 %}
{% set text = "Forbidden" %}

{% elif statuscode == 404 %}
{% set text = "Not Found" %}
{% set extra %}
{% set http_451 %}
<mark><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/451" target="_blank">
        <code>HTTP <span class="color-ulysses-magenta-fg">451</span> Unavailable For Legal Reasons</code>
    </a></mark>
{% endset %}
<h5>{{_( '(Not to be confused with %(http_451)s)', http_451=http_451 )}}</h5>
{% endset %}

{% elif statuscode == 451 %}
{% set text = "Unavailable For Legal Reasons" %}

{% elif statuscode == 502 %}
{% set text = "Bad Gateway" %}

{% elif statuscode == 503 %}
{% set text = "Service Unavailable" %}

{% else %}
{% set statuscode = 500 %}
{% set text = "Internal Server Error" %}

{% endif %}

{% if not unsafe %}
{% set message = message|safe %}
{% endif %}

{% set title = text %}

{% block body %}
<main>
    <article>
        <h1><code>HTTP <span class="color-ulysses-magenta-fg"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{ statuscode }}" target="_blank">{{ statuscode }}</a></span> {{ text }}</code></h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        {{ extra }}
    </article>
</main>
{% endblock %}