<h1><strong>Limited service</strong></h1>
<p><strong>
    To protect <code><strong>{{ server }}</strong></code> and this tool from being detected, flagged, rate-limited, or blacklisted
    by upstream servers, requests to certain domains and URLs are currently limited.
</strong></p>

<h2><strong>Requested URL:</strong></h2>
<p style="text-indent: 2em;"><code><strong><a href="{{ remote }}" target="_blank">{{ remote }}</a></strong></code></p>

<h2><strong>Filter matched:</strong></h2>
<p style="text-indent: 2em;"><code><strong>{{ test.name }}</strong> <strong><em>{{ test.description|default('(No description)') }}</em></strong></code></p>
