<h1><strong>Limited service / <span class="cjk-serif">有限度的服务</span></strong></h1>

<p><strong>
    To protect <code>{{ server }}</code> and this tool from being detected,
    flagged, rate-limited, or blacklisted from upstream servers, access to certain domains and URLs are
    currently limited.
</strong></p>

<p class="cjk-serif"><strong>
    为防止 <code>{{ server }}</code> 及本工具被上游服务器识别或屏蔽，当前对一些域名或地址的访问将会受到限制。
</strong></p>

<h3><strong>Currently applies to / <span class="cjk-serif">受限的域名及地址</span></strong></h3>

<pre><code><strong>
    {% for test in tests %}
    {{ test + '' }}
    {% endfor %}
</strong></code></pre>
