{% extends 'portal5/portal5.html' %}

{% set title = 'preferences' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ static_server }}/assets/styles/client/preferences.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/~/client/preferences.js"></script>
{% endblock %}

{% block main %}
<h2>interface</h2>
<div id="lang" class="option-container secondary-option" data-key="lang">
    <div class="option">
        <h5 class="option-name"><label for="lang-select">{% trans %}Language{% endtrans %}</label></h5>
        <select class="secondary-option-value" id="lang-select">
            <option value="en-US">English</option>
            <option value="zh-CN">简体中文 / Simplified Chinese</option>
        </select>
    </div>
</div>

<form action="/settings" method="POST">

    {% for section_name, options in prefs.items() %}
    <h2>{{ section_name }}</h2>

    {% for option_id, details in options.items() %}
    {% set color = details.color|default('green') %}
    {% set option_id_html = option_id|replace('_', '-') %}

    <div id="{{ option_id_html }}" class="option-container form-option">
        <div class="option">
            <input type="hidden" id="input-{{ option_id_html }}" name="{{ option_id }}"
                value="{{ details.enabled|int }}" />
            <h5 class="option-name" tabindex="0"><span class="option-bullet">‣</span><label
                    for="input-{{ option_id_html }}">{{ details.name|safe }}</label></h5>
            <button type="button" class="toggle-button color-{{ color if details.enabled else 'gray' }}-bg"
                data-color="{{ color }}">
                {{- 'on' if details.enabled else 'off' -}}
            </button>
        </div>
        <div class="option multi-option-confirm hidden">
            <h6 class="bold"><span></span>{% trans %} this will also {% endtrans %}<mark></mark>
                {%- trans %} highlighted options{% endtrans %}</h6>
            <button type="button"
                class="flush-change-cancel color-black-bg color-white-fg">{% trans %}cancel{% endtrans %}</button>
            <button type="button" class="flush-change-confirm color-white-bg">{% trans %}continue{% endtrans %}</button>
        </div>
        <div class="option-description collapsed">
            {% for line in details.desc %}
            <p>{{ line|safe }}</p>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
    {% endfor %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

    <div class="form-footer">
        <p class="color-green-fg message-flash" id="updated">{% trans %}Your preferences have been
            updated.{% endtrans %}</p>
        <button type="submit" name="action" value="update" class="color-cyan-bg">{% trans %}Save
            preferences{% endtrans %}</button>
    </div>
    <div class="form-postscript">
        <button type="submit" name="action" value="reset" class="color-gray-bg">{% trans %}Reset
            defaults{% endtrans %}</button>
        <button type="submit" name="action" value="uninstall" formaction="/~uninstall"
            class="color-black-bg color-white-fg">{% trans %}Uninstall{% endtrans %}</button>
    </div>

</form>

{% endblock %}