<!DOCTYPE html>
<html lang="en">
{% set server = request.scheme + '://' + request.host %}

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% endblock %}

    <title>{{ title|default('', true) }}</title>

    {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="//static.{{ g.sld }}/styles/fonts-cjk-no-latin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//static.{{ g.sld }}/styles/style.css" />
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>